.lifewood-icon17 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button474 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon229 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button473 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button476 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--gray);
  text-align: left;
  display: inline-block;
  min-width: 99px;
}
.chevron-down-icon43 {
  height: 5.7px;
  width: 11.1px;
  position: relative;
  display: none;
}
.button475 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: transparent;
  border-bottom: 2px solid var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  z-index: 1;
}
.button475:hover {
  background-color: var(--color-chocolate);
}
.button478 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon230 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button477 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button480 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon231 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button479 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button482 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon232 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button481 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 4;
}
.button484 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon233 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button483,
.main17 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button483 {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.main17 {
  flex: 1;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
}
.button486 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.arrow-icon234 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button485 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-11xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button485:hover {
  background-color: var(--color-teal);
}
.button488 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon44 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button487 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item17,
.nav17,
.right45 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right45 {
  align-self: stretch;
  flex: 0.3543;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-417xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item17,
.nav17 {
  justify-content: center;
}
.nav-item17 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav17 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power17,
.harnessing-the-potential17 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power17 {
  height: 114px;
  font-size: inherit;
}
.harnessing-the-potential17 {
  height: 43px;
  font-size: var(--font-size-41xl);
  color: var(--white);
}
.future-power-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-170xl-2) 0 var(--padding-170xl-1);
  gap: var(--gap-49xl);
}
.diamond-icon51 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  left: 251.6px;
}
.amazed-icon51 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed46,
.hero-section17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.be-amazed46 {
  width: 261.2px;
  height: 50.7px;
  padding: 0 0 var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
}
.hero-section17 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  background-image: url(./public/hero-section12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--yellow);
  font-family: var(--font-din-condensed);
}
.in-the-news17 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon235 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from17 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th17 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container17 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news17 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon17 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel17,
.lifewood17,
.youtube52 {
  margin: 0;
}
.lifewood-youtube-channel-container17 {
  position: relative;
  line-height: 19.8px;
}
.in-the-news-parent9,
.youtube51 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube51 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.in-the-news-parent9 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.at-lifewood-we38,
.banner18 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.banner18 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.at-lifewood-we38 {
  margin: 0;
  height: 76px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 52.5px;
  font-weight: 700;
  font-family: inherit;
  min-width: 800px;
}
.harness-the-technology27,
.this-is-the23 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.harness-the-technology27 {
  height: 16px;
}
.right46 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent26,
.two-column-text28 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.at-lifewood-we-empower-busine-parent26 {
  width: 1640px;
  gap: 31px 29px;
  max-width: var(--max-col-width);
  flex-shrink: 0;
}
.two-column-text28 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font);
}
.data-acquisition67 {
  align-self: stretch;
  height: 75px;
}
.button490,
.data-acquisition67,
.data-acquisition68 {
  position: relative;
  display: inline-block;
}
.data-acquisition68 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button490 {
  min-width: 80px;
}
.arrow-icon236 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button489 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info24 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.language-selector-icon,
.vector-icon46 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.language-selector-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon46 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card24,
.div40 {
  display: flex;
  max-width: 100%;
}
.div40 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card24 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px 98px;
}
.data-acquisition69 {
  align-self: stretch;
  height: 75px;
}
.button492,
.data-acquisition69,
.data-acquisition70 {
  position: relative;
  display: inline-block;
}
.data-acquisition70 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button492 {
  min-width: 80px;
}
.arrow-icon237 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button491 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info25 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon47,
.vector-icon48 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon47 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon48 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card25,
.div41 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div41 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card25 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition71 {
  align-self: stretch;
  height: 75px;
}
.button494,
.data-acquisition71,
.data-acquisition72 {
  position: relative;
  display: inline-block;
}
.data-acquisition72 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button494 {
  min-width: 80px;
}
.arrow-icon238 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button493 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info26 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon49,
.vector-icon50 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon49 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon50 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card26,
.div42 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div42 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card26 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition73 {
  align-self: stretch;
  height: 75px;
}
.button496,
.data-acquisition73,
.data-acquisition74 {
  position: relative;
  display: inline-block;
}
.data-acquisition74 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button496 {
  min-width: 80px;
}
.arrow-icon239 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button495 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info27 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon51,
.vector-icon52 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon52 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card27,
.div43 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div43 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card27 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition75,
.data-acquisition76 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition75 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition76 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button498 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon240 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button497 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info28 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon53,
.vector-icon54 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon53 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon54 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card28,
.div44 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div44 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card28 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition77 {
  align-self: stretch;
  height: 75px;
}
.button500,
.data-acquisition77,
.data-acquisition78 {
  position: relative;
  display: inline-block;
}
.data-acquisition78 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button500 {
  min-width: 80px;
}
.arrow-icon241 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button499 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info29 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon55,
.vector-icon56 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon55 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon56 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card29,
.div45 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div45 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card29 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition79 {
  align-self: stretch;
  height: 75px;
  position: relative;
  display: inline-block;
}
.data-acquisition80 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button502 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon242 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button501 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info30 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon57,
.vector-icon58 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon57 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon58 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card30,
.div46 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div46 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card30 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.cards5,
.modalities5,
.wrapper30 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards5 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.modalities5,
.wrapper30 {
  overflow: hidden;
}
.wrapper30 {
  width: 1640px;
  justify-content: center;
  max-width: var(--max-col-width);
}
.modalities5 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 3445px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
  font-family: var(--font);
}
.with-lifewood-leveraging3 {
  margin: 0;
  align-self: stretch;
  height: 50px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.diamond-icon52 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  left: 251.6px;
}
.amazed-icon52 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed47,
.clients3,
.wrapper31 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.be-amazed47 {
  width: 261.2px;
  height: 50.7px;
  padding: 0 0 var(--padding-3xs) var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.clients3,
.wrapper31 {
  overflow: hidden;
}
.wrapper31 {
  width: 1640px;
  padding: var(--padding-45xl) 0;
  gap: var(--gap-13xl);
  max-width: var(--max-col-width);
}
.clients3 {
  align-self: stretch;
  background-color: var(--white);
  padding: var(--padding-3xs) var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font);
}
.diamond-icon53 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 241.6px;
}
.amazed-icon53 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed48 {
  width: 257.6px;
  height: 55.9px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.logo-icon17 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button504 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon45 {
  height: 5.7px;
  width: 11.1px;
  position: relative;
}
.button503 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logo-wrapper1 {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5) 0 0;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b49 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai10,
.ai9,
.div47,
.div48,
.div49,
.div50 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai10,
.div47,
.div48,
.div49,
.div50 {
  min-width: 99px;
}
.div47,
.div48,
.div49,
.div50 {
  min-width: 40px;
}
.div48,
.div49,
.div50 {
  min-width: 80px;
}
.map51 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b50,
.div51,
.div52 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div51,
.div52 {
  min-width: 40px;
}
.map52 {
  flex: 0.5714;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-71xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b51 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div53,
.instagram18,
.linkedin17,
.youtube53 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div53,
.instagram18,
.youtube53 {
  min-width: 40px;
}
.instagram18,
.youtube53 {
  min-width: 92px;
}
.youtube53 {
  min-width: 77px;
}
.main-navbar,
.map53,
.sitemap20 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.map53 {
  flex: 0.9524;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 0;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.main-navbar,
.sitemap20 {
  flex-direction: row;
  flex-wrap: wrap;
}
.sitemap20 {
  width: 1302px;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-705xl) 0 0;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.main-navbar {
  width: 100%;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.ai-projects16,
.footer18 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer18 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3)
    var(--padding-121xl);
  gap: var(--gap-3xs);
  min-height: 430px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--white);
  font-family: var(--font);
}
.ai-projects16 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .at-lifewood-we-empower-busine-parent26,
  .in-the-news-parent9,
  .main-navbar,
  .wrapper30,
  .wrapper31 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .modalities5 {
    gap: 64px 128px;
  }
  .footer18,
  .sitemap20 {
    padding-right: var(--padding-343xl);
    box-sizing: border-box;
  }
  .footer18 {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-2xl);
  }
}
@media screen and (max-width: 900px) {
  .right45 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav17 {
    gap: 64px 32px;
  }
  .future-power17 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential17 {
    font-size: var(--font-size-29xl);
  }
  .future-power-parent12 {
    gap: 34px 68px;
    padding-top: var(--padding-104xl);
    padding-bottom: var(--padding-104xl);
    box-sizing: border-box;
  }
  .hero-section17 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news17 {
    font-size: var(--font-size-21xl);
  }
  .banner18,
  .in-the-news-parent9 {
    gap: 64px 32px;
  }
  .at-lifewood-we38 {
    font-size: var(--font-size-9xl);
    line-height: 42px;
  }
  .data-acquisition67 {
    font-size: var(--font-size-29xl);
  }
  .card24 {
    gap: 32px 49px;
  }
  .data-acquisition69 {
    font-size: var(--font-size-29xl);
  }
  .card25 {
    gap: 32px 49px;
  }
  .data-acquisition71 {
    font-size: var(--font-size-29xl);
  }
  .card26 {
    gap: 32px 49px;
  }
  .data-acquisition73 {
    font-size: var(--font-size-29xl);
  }
  .card27 {
    gap: 32px 49px;
  }
  .data-acquisition75 {
    font-size: var(--font-size-29xl);
  }
  .card28 {
    gap: 32px 49px;
  }
  .data-acquisition77 {
    font-size: var(--font-size-29xl);
  }
  .card29 {
    gap: 32px 49px;
  }
  .data-acquisition79 {
    font-size: var(--font-size-29xl);
  }
  .card30 {
    gap: 32px 49px;
  }
  .cards5,
  .wrapper30 {
    gap: 32px 64px;
  }
  .modalities5 {
    gap: 32px 128px;
  }
  .with-lifewood-leveraging3 {
    font-size: var(--font-size-13xl);
  }
  .wrapper31 {
    gap: 16px 32px;
  }
  .sitemap20 {
    gap: 64px 32px;
    padding-right: var(--padding-162xl);
    box-sizing: border-box;
  }
  .footer18 {
    padding-left: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .right45 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav17 {
    gap: 64px 16px;
  }
  .future-power17 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential17 {
    font-size: var(--font-size-17xl);
  }
  .future-power-parent12 {
    gap: 17px 68px;
  }
  .hero-section17 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news17 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from17,
  .hong-kong-4-10th-container17 {
    font-size: var(--font-size);
  }
  .banner18,
  .in-the-news-parent9 {
    gap: 64px 16px;
  }
  .at-lifewood-we38 {
    font-size: var(--font-size-2xl);
    line-height: 31px;
  }
  .harness-the-technology27,
  .this-is-the23 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right46 {
    gap: 21px 42px;
  }
  .data-acquisition67 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition68 {
    font-size: var(--font-size-3xl);
  }
  .button490 {
    font-size: var(--font-size-base);
  }
  .card24 {
    gap: 32px 24px;
  }
  .data-acquisition69 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition70 {
    font-size: var(--font-size-3xl);
  }
  .button492 {
    font-size: var(--font-size-base);
  }
  .card25 {
    gap: 32px 24px;
  }
  .data-acquisition71 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition72 {
    font-size: var(--font-size-3xl);
  }
  .button494 {
    font-size: var(--font-size-base);
  }
  .card26 {
    gap: 32px 24px;
  }
  .data-acquisition73 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition74 {
    font-size: var(--font-size-3xl);
  }
  .button496 {
    font-size: var(--font-size-base);
  }
  .card27 {
    gap: 32px 24px;
  }
  .data-acquisition75 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition76 {
    font-size: var(--font-size-3xl);
  }
  .button498 {
    font-size: var(--font-size-base);
  }
  .card28 {
    gap: 32px 24px;
  }
  .data-acquisition77 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition78 {
    font-size: var(--font-size-3xl);
  }
  .button500 {
    font-size: var(--font-size-base);
  }
  .card29 {
    gap: 32px 24px;
  }
  .data-acquisition79 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition80 {
    font-size: var(--font-size-3xl);
  }
  .button502 {
    font-size: var(--font-size-base);
  }
  .card30 {
    gap: 32px 24px;
  }
  .cards5,
  .wrapper30 {
    gap: 16px 64px;
  }
  .modalities5 {
    gap: 16px 128px;
  }
  .with-lifewood-leveraging3 {
    font-size: var(--font-size-5xl);
  }
  .ai10,
  .ai9,
  .b49,
  .b50,
  .b51,
  .button504,
  .div47,
  .div48,
  .div49,
  .div50,
  .div51,
  .div52,
  .div53,
  .instagram18,
  .linkedin17,
  .youtube53 {
    font-size: var(--font-size-base);
  }
  .sitemap20 {
    gap: 64px 16px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
