.lifewood-icon29 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button777 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon363 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button776 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button779 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.arrow-icon364 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button778 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.button781 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon365 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button780 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button783 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon366 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button782 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button785 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon367 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button784 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 4;
}
.button787 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon368 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button786 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.button789,
.main29 {
  font-size: var(--font-size);
  font-family: var(--font);
  text-align: left;
}
.main29 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
  color: var(--gray);
}
.button789 {
  position: relative;
  color: var(--white);
  display: inline-block;
  min-width: 80px;
}
.arrow-icon369 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button788 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-10xl-9) var(--padding-4xs)
    var(--padding-10xl-8);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button788:hover,
.button792:hover {
  background-color: var(--color-teal);
}
.button791 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon72 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button790 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item29,
.nav29,
.right80 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right80 {
  align-self: stretch;
  flex: 0.3547;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 435.7px;
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item29,
.nav29 {
  justify-content: center;
}
.nav-item29 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav29 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power29 {
  margin: 0;
  align-self: stretch;
  height: 114px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.harnessing-the-potential29 {
  align-self: stretch;
  height: 28px;
  position: relative;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.17em;
  display: none;
  color: var(--white);
}
.f-r-a-m-e {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-225xl-7) 0 var(--padding-225xl-6);
  gap: var(--gap-49xl);
}
.diamond-icon88 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  left: 251.6px;
}
.amazed-icon88 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed75,
.hero-section29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.be-amazed75 {
  width: 261.2px;
  height: 50.7px;
  padding: 0 0 var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  position: relative;
}
.hero-section29 {
  align-self: stretch;
  overflow: hidden;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  background-image: url(./public/hero-section11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--yellow);
  font-family: var(--font-din-condensed);
}
.in-the-news29 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon370 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from29 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th29 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container29 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news29 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon29 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel29,
.lifewood29,
.youtube88 {
  margin: 0;
}
.lifewood-youtube-channel-container29 {
  position: relative;
  line-height: 19.8px;
}
.youtube87 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.banner30,
.i-n-s-t-a-n-c-e,
.youtube87 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.i-n-s-t-a-n-c-e {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.banner30 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.e-mail-contact-form1,
.first-name7 {
  position: relative;
  display: inline-block;
}
.e-mail-contact-form1 {
  margin: 0;
  height: 44px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.first-name7 {
  height: 16px;
  min-width: 48px;
}
.input15 {
  border: 1px solid var(--black);
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 108px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}
.input14 {
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name8 {
  height: 16px;
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.input17 {
  border: 1px solid var(--black);
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 108px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}
.input16 {
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name9 {
  height: 16px;
  position: relative;
  display: inline-block;
}
.input19 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--white);
  border: 1px solid var(--black);
  overflow: hidden;
}
.input18 {
  height: 144px;
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name10 {
  height: 16px;
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.input21 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--white);
  border: 1px solid var(--black);
  overflow: hidden;
}
.input20 {
  height: 144px;
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name11 {
  height: 16px;
  position: relative;
  display: inline-block;
  min-width: 48px;
}
.input23 {
  border: 1px solid var(--black);
  outline: 0;
  background-color: var(--white);
  align-self: stretch;
  height: 108px;
  border-radius: var(--br-base);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  min-width: 250px;
}
.input22 {
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name12 {
  height: 16px;
  position: relative;
  display: inline-block;
  min-width: 96px;
}
.input25 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--white);
  border: 1px solid var(--black);
  overflow: hidden;
}
.input24 {
  height: 144px;
  width: 804px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 550px;
  max-width: 100%;
}
.first-name13 {
  height: 16px;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.input27 {
  align-self: stretch;
  height: 314px;
  border-radius: var(--br-base);
  background-color: var(--white);
  border: 1px solid var(--black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.f-r-a-m-e2,
.input26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input26 {
  width: 1640px;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 550px;
  min-height: 350px;
}
.f-r-a-m-e2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 28px;
  min-height: 878px;
  font-size: var(--font-size-5xl);
  color: var(--black);
}
.button793 {
  position: relative;
  font-size: var(--font-size);
  display: inline-block;
  font-family: var(--font);
  color: var(--white);
  text-align: left;
  min-width: 80px;
}
.arrow-icon371 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button792 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-base);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.f-r-a-m-e1,
.t-e-x-t {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.t-e-x-t {
  width: 1640px;
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-45xl) 0;
  gap: var(--gap-13xl);
  max-width: var(--max-col-width);
}
.f-r-a-m-e1 {
  align-self: stretch;
  align-items: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-16xl);
  color: var(--color-black);
  font-family: var(--font);
}
.diamond-icon89 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 241.6px;
}
.amazed-icon89 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed76 {
  width: 257.6px;
  height: 56px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.logo-icon29 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button795 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon73 {
  height: 5.7px;
  width: 11.1px;
  position: relative;
}
.button794 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logo-parent9 {
  width: 210px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs-5) 0 0;
  box-sizing: border-box;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b144 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai35,
.ai36,
.div138,
.div139,
.div140,
.div141 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai36,
.div138,
.div139,
.div140,
.div141 {
  min-width: 99px;
}
.div138,
.div139,
.div140,
.div141 {
  min-width: 40px;
}
.div139,
.div140,
.div141 {
  min-width: 80px;
}
.map87 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-26xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b145,
.div142,
.div143 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div142,
.div143 {
  min-width: 40px;
}
.map88 {
  flex: 0.5714;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-71xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b146 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div144,
.instagram30,
.linkedin29,
.youtube89 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div144,
.instagram30,
.youtube89 {
  min-width: 40px;
}
.instagram30,
.youtube89 {
  min-width: 92px;
}
.youtube89 {
  min-width: 77px;
}
.f-r-a-m-e3,
.map89,
.sitemap33 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.map89 {
  flex: 0.9524;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 0;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.f-r-a-m-e3,
.sitemap33 {
  flex-direction: row;
  flex-wrap: wrap;
}
.sitemap33 {
  width: 1302px;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 0 var(--padding-705xl) 0 0;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.f-r-a-m-e3 {
  width: 100%;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.contact1,
.footer33 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer33 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3)
    var(--padding-121xl);
  gap: var(--gap-3xs);
  min-height: 430px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--white);
  font-family: var(--font);
}
.contact1 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .f-r-a-m-e3,
  .i-n-s-t-a-n-c-e,
  .t-e-x-t {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .t-e-x-t {
    padding-top: var(--padding-23xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
  .footer33,
  .sitemap33 {
    padding-right: var(--padding-343xl);
    box-sizing: border-box;
  }
  .footer33 {
    padding-left: var(--padding-51xl);
    padding-right: var(--padding-2xl);
  }
}
@media screen and (max-width: 900px) {
  .right80 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav29 {
    gap: 64px 32px;
  }
  .future-power29 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential29 {
    font-size: var(--font-size-13xl);
  }
  .f-r-a-m-e {
    gap: 34px 68px;
    padding-top: var(--padding-140xl);
    padding-bottom: var(--padding-140xl);
    box-sizing: border-box;
  }
  .hero-section29 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news29 {
    font-size: var(--font-size-21xl);
  }
  .banner30,
  .i-n-s-t-a-n-c-e {
    gap: 64px 32px;
  }
  .e-mail-contact-form1 {
    font-size: var(--font-size-9xl);
  }
  .sitemap33,
  .t-e-x-t {
    box-sizing: border-box;
  }
  .t-e-x-t {
    gap: 16px 32px;
    padding-top: var(--padding-8xl);
    padding-bottom: var(--padding-8xl);
  }
  .sitemap33 {
    gap: 64px 32px;
    padding-right: var(--padding-162xl);
  }
  .footer33 {
    padding-left: var(--padding-16xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .right80 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav29 {
    gap: 64px 16px;
  }
  .future-power29 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential29 {
    font-size: var(--font-size-5xl);
  }
  .f-r-a-m-e {
    gap: 17px 68px;
  }
  .hero-section29 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news29 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from29,
  .hong-kong-4-10th-container29 {
    font-size: var(--font-size);
  }
  .banner30,
  .i-n-s-t-a-n-c-e {
    gap: 64px 16px;
  }
  .e-mail-contact-form1 {
    font-size: var(--font-size-2xl);
  }
  .first-name10,
  .first-name11,
  .first-name12,
  .first-name13,
  .first-name7,
  .first-name8,
  .first-name9 {
    font-size: var(--font-size-lgi);
  }
  .ai35,
  .ai36,
  .b144,
  .b145,
  .b146,
  .button793,
  .button795,
  .div138,
  .div139,
  .div140,
  .div141,
  .div142,
  .div143,
  .div144,
  .instagram30,
  .linkedin29,
  .youtube89 {
    font-size: var(--font-size-base);
  }
  .sitemap33 {
    gap: 64px 16px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
