.lifewood-icon22 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button606 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon287 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button605 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button608 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.arrow-icon288 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button607 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.button610 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon289 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button609 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button612 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon290 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button611 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button614 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon291 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button613 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 4;
}
.button616 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon292 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button615 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.button618,
.main22 {
  font-size: var(--font-size);
  font-family: var(--font);
  text-align: left;
}
.main22 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
  color: var(--gray);
}
.button618 {
  position: relative;
  color: var(--white);
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.arrow-icon293 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button617 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-11xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button617:hover {
  background-color: var(--color-teal);
}
.button620 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon56 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button619 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item22,
.nav22,
.right60 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right60 {
  align-self: stretch;
  flex: 0.3543;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-417xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item22,
.nav22 {
  justify-content: center;
}
.nav-item22 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav22 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power22,
.harnessing-the-potential22 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power22 {
  height: 114px;
  font-size: inherit;
}
.harnessing-the-potential22 {
  height: 28px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.17em;
}
.future-power-parent17 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-177xl-7) 0 var(--padding-177xl-6);
  gap: var(--gap-49xl);
}
.diamond-icon67 {
  height: 29px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  right: -6.4px;
}
.amazed-icon67 {
  height: 30.7px;
  width: 241.2px;
  position: relative;
}
.be-amazed-wrapper11,
.be-amazed57,
.hero-section22 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.be-amazed57 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.be-amazed-wrapper11,
.hero-section22 {
  align-self: stretch;
  justify-content: center;
}
.hero-section22 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  gap: var(--gap-3xs);
  background-image: url(./public/hero-section4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--white);
  font-family: var(--font-din-condensed);
}
.in-the-news22 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon294 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from22 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th22 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container22 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news22 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon22 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel22,
.lifewood22,
.youtube67 {
  margin: 0;
}
.lifewood-youtube-channel-container22 {
  position: relative;
  line-height: 19.8px;
}
.in-the-news-parent14,
.youtube66 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube66 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.in-the-news-parent14 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.at-lifewood-we46,
.banner23 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.banner23 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.at-lifewood-we46 {
  margin: 0;
  height: 101px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  min-width: 800px;
}
.this-is-the32 {
  align-self: stretch;
  height: 76px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.harness-the-technology37,
.your-business-to33 {
  margin: 0;
}
.harness-the-technology-container34 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: none;
}
.right61 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent35 {
  width: 1640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 30px;
  max-width: var(--max-col-width);
}
.image-icon16,
.two-column-text38 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.two-column-text38 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font);
}
.image-icon16 {
  height: 487px;
  flex-shrink: 0;
  object-fit: cover;
}
.b76 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.devoted13,
.specialists13 {
  margin: 0;
}
.devoted-specialists14 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box56 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b77 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.delivery13,
.sites13 {
  margin: 0;
}
.delivery-sites14 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box57 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b78 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.continents13,
.countries-on13 {
  margin: 0;
}
.countries-on-4-container13 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box58 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b79 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.capabilities13,
.language28 {
  margin: 0;
}
.language-capabilities14 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box59 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.img13,
.items15,
.left14 {
  display: flex;
  max-width: 100%;
}
.items15 {
  width: 735px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.img13,
.left14 {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.left14 {
  flex-direction: column;
  gap: var(--gap-base);
}
.img13 {
  overflow: hidden;
  flex-direction: row;
  min-width: 764px;
}
.transforming-data-on12 {
  align-self: stretch;
  height: 53px;
  position: relative;
  display: flex;
  align-items: center;
}
.frame-child27 {
  align-self: stretch;
  height: 16px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.transforming-data-on-a-global-parent11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.and-forming-new12,
.as-benin-and12,
.forward-igniting-a12,
.lifewood-active-in13 {
  margin: 0;
}
.business-and-the12 {
  margin: 0;
  white-space: pre-wrap;
}
.communities-around-the12,
.creating-dynamic-opportunities12 {
  margin: 0;
}
.lifewood-active-in-container12 {
  align-self: stretch;
  height: 437px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 36px;
  display: inline-block;
}
.button622 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon295 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button621 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.button-wrapper24,
.cta15 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-wrapper24 {
  align-self: stretch;
  align-items: flex-end;
  font-size: var(--font-size);
  color: var(--white);
}
.cta15 {
  flex: 0.9622;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 764px;
  max-width: 100%;
  font-size: var(--font-size-61xl);
}
.grid-child10 {
  height: 93px;
  width: 820px;
  overflow: hidden;
  display: none;
  min-width: 820px;
  max-width: 100%;
}
.button624 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon296 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button-wrapper25,
.button623 {
  justify-content: center;
  box-sizing: border-box;
}
.button623 {
  width: 190px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button-wrapper25 {
  width: 820px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-12xl);
  min-width: 540px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.grid15,
.world-map14 {
  overflow: hidden;
  align-items: center;
}
.grid15 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: var(--max-col-width);
}
.world-map14 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-13xl) var(--inline-padding-sm) var(--padding-45xl);
  box-sizing: border-box;
  min-height: 1666px;
  max-width: 100%;
}
.amazed-icon68,
.genealogy-icon19 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.genealogy-icon19 {
  flex: 1;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.amazed-icon68 {
  align-self: stretch;
  height: 30.7px;
  flex-shrink: 0;
  z-index: 1;
}
.amazed-wrapper17 {
  width: 241.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
}
.diamond-icon68 {
  height: 29px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.genealogy-parent14 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-749xl-9) var(--padding-27xl-4) var(--padding-23xl-2);
  box-sizing: border-box;
  gap: var(--gap-12xs-4);
  background-image: url(./public/genealogy3@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: var(--max-col-width);
}
.h16 {
  margin: 0;
  height: 40px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.arrow-icon297,
.button626,
.h16 {
  position: relative;
}
.arrow-icon297 {
  width: 33.7px;
  height: 15.9px;
}
.arrow-wrapper9,
.button625 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.button625 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
}
.discover-what-our17,
.services-have-accomplished17 {
  margin: 0;
}
.discover-what-our-container13 {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child28 {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent34 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.data-acquisition89 {
  margin: 0;
  align-self: stretch;
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.button628,
.data-acquisition89,
.data-acquisition90 {
  position: relative;
  display: inline-block;
}
.data-acquisition90 {
  margin: 0;
  align-self: stretch;
  height: 105px;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button628 {
  height: 25px;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon298 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button627 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info35 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon67,
.vector-icon68 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon67 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon68 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card35,
.div86 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.div86 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card35 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 98px;
}
.data-acquisition91 {
  align-self: stretch;
  height: 75px;
  position: relative;
  display: inline-block;
}
.data-acquisition92 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.button630 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon299 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button629 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info36 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon69,
.vector-icon70 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon69 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon70 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card36,
.div87 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div87 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card36 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.data-acquisition93,
.data-acquisition94 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition93 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition94 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button632 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon300 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button631 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info37 {
  width: 740px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon71,
.vector-icon72 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon71 {
  align-self: stretch;
  flex: 1;
  position: relative;
}
.vector-icon72 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card37,
.div88 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.div88 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card37 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 var(--padding-11xs) 0 0;
  gap: 32px 98px;
}
.cards7,
.wrapper37 {
  display: flex;
  flex-direction: column;
  gap: var(--gap-45xl);
}
.cards7 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  color: var(--color-black);
}
.wrapper37 {
  width: 100%;
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: var(--max-col-width);
}
.button634,
.h17 {
  position: relative;
}
.h17 {
  margin: 0;
  height: 75px;
  flex: 1;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.button634 {
  align-self: stretch;
  white-space: nowrap;
}
.arrow-icon301 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button633 {
  height: 41px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
}
.discover-what-our18,
.services-have-accomplished18 {
  margin: 0;
}
.discover-what-our-container14 {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.wrapper-child {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.p5,
.p6 {
  margin: 0;
}
.b80 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 328px;
  max-width: 100%;
}
.p7,
.p8 {
  margin: 0;
}
.h18 {
  height: 189px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 394px;
  max-width: 100%;
}
.h18,
.h19,
.p10,
.p9 {
  margin: 0;
}
.h19 {
  height: 126px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 328px;
  max-width: 100%;
}
.parent2,
.population-records {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl-1);
  min-width: 982px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.population-records {
  flex: 1;
  flex-direction: column;
  min-height: 537px;
  max-width: 100%;
}
.p11,
.p12 {
  margin: 0;
}
.b81 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 157px;
  max-width: 100%;
}
.p13,
.p14 {
  margin: 0;
}
.b82 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 157px;
  max-width: 100%;
}
.p15,
.p16 {
  margin: 0;
}
.b83 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 157px;
  max-width: 100%;
}
.parent3,
.population-records1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent3 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-13xl-1);
  min-width: 982px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.population-records1 {
  flex: 1;
  flex-direction: column;
  min-height: 300px;
  max-width: 100%;
  margin-left: -1640px;
}
.p17,
.p18 {
  margin: 0;
}
.b84 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 157px;
  max-width: 100%;
}
.p19,
.p20 {
  margin: 0;
}
.b85,
.h110 {
  height: 126px;
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 157px;
  max-width: 100%;
}
.h110 {
  margin: 0;
  height: 63px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 394px;
}
.parent4,
.population-records-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.parent4 {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-13xl-1);
  min-width: 982px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  margin-left: -1640px;
}
.population-records-parent {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-end;
  max-width: 100%;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
}
.frame-parent33,
.wrapper38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper38 {
  width: 100%;
  overflow: hidden;
  gap: var(--gap-13xl);
  max-width: var(--max-col-width);
}
.frame-parent33 {
  width: 1640px;
  gap: var(--gap-65xl);
  max-width: 100%;
}
.amazed-icon69,
.genealogy-inner {
  align-self: stretch;
  max-width: 100%;
}
.genealogy-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-78xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--black);
  font-family: var(--font);
}
.amazed-icon69 {
  height: 30.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.amazed-wrapper18 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-3) 0 0;
}
.diamond-icon69 {
  height: 29px;
  width: 16px;
  position: relative;
}
.be-amazed58 {
  width: 257.6px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.logo-icon22 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button636 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon57 {
  width: 11.1px;
  height: 5.7px;
  position: relative;
}
.chevron-down-wrapper11 {
  flex-direction: column;
  padding: var(--padding-3xs-6) 0 0;
}
.button635,
.chevron-down-wrapper11,
.logo-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button635 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logo-parent5 {
  width: 210px;
  flex-direction: column;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b86 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai19,
.ai20,
.div89,
.div90,
.div91,
.div92 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai20,
.div89,
.div90,
.div91,
.div92 {
  min-width: 99px;
}
.div89,
.div90,
.div91,
.div92 {
  min-width: 40px;
}
.div90,
.div91,
.div92 {
  min-width: 80px;
}
.map66 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b87,
.div93,
.div94 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div93,
.div94 {
  min-width: 40px;
}
.map67 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b88 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div95,
.instagram23,
.linkedin22,
.youtube68 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div95,
.instagram23,
.youtube68 {
  min-width: 40px;
}
.instagram23,
.youtube68 {
  min-width: 92px;
}
.youtube68 {
  min-width: 77px;
}
.map68,
.sitemap25 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.map68 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.sitemap25 {
  width: 1302px;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.footer-inner3,
.frame-parent35,
.sitemap25 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent35 {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.footer-inner3 {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
}
.footer25,
.genealogy5 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font);
}
.footer25 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3);
  gap: var(--gap-21xl-7);
  min-height: 430px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.genealogy5 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
@media screen and (max-width: 1650px) {
  .at-lifewood-we-empower-busine-parent35,
  .genealogy-parent14,
  .grid15,
  .in-the-news-parent14,
  .wrapper37 {
    max-width: var(--max-col-width);
  }
  .parent2,
  .parent3,
  .parent4 {
    flex-wrap: wrap;
  }
  .frame-parent35,
  .wrapper38 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .genealogy-inner {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .footer25 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .right60 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav22 {
    gap: 64px 32px;
  }
  .future-power22 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential22 {
    font-size: var(--font-size-13xl);
  }
  .future-power-parent17 {
    gap: 34px 68px;
    padding-top: var(--padding-109xl);
    padding-bottom: var(--padding-109xl);
    box-sizing: border-box;
  }
  .hero-section22 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news22 {
    font-size: var(--font-size-21xl);
  }
  .banner23,
  .in-the-news-parent14 {
    gap: 64px 32px;
  }
  .at-lifewood-we46 {
    font-size: var(--font-size-7xl);
  }
  .b76,
  .b77,
  .b78,
  .b79 {
    font-size: var(--font-size-29xl);
    line-height: 29px;
  }
  .items15 {
    flex-wrap: wrap;
  }
  .transforming-data-on12 {
    font-size: var(--font-size-21xl);
  }
  .genealogy-parent14 {
    padding-top: var(--padding-481xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .h16 {
    font-size: var(--font-size-29xl);
  }
  .discover-what-our-container13 {
    font-size: var(--font-size-17xl);
  }
  .frame-parent34 {
    gap: 16px 32px;
  }
  .data-acquisition89 {
    font-size: var(--font-size-29xl);
  }
  .card35 {
    gap: 32px 49px;
  }
  .data-acquisition91 {
    font-size: var(--font-size-29xl);
  }
  .card36 {
    gap: 32px 49px;
  }
  .data-acquisition93 {
    font-size: var(--font-size-29xl);
  }
  .card37 {
    gap: 32px 49px;
  }
  .cards7,
  .wrapper37 {
    gap: 32px 64px;
  }
  .h17 {
    font-size: var(--font-size-29xl);
  }
  .discover-what-our-container14 {
    font-size: var(--font-size-17xl);
  }
  .b80 {
    font-size: var(--font-size-21xl);
  }
  .h18 {
    min-width: 100%;
  }
  .h18,
  .h19 {
    font-size: var(--font-size-21xl);
  }
  .parent2 {
    gap: 32.1px 16px;
  }
  .b81,
  .b82,
  .b83 {
    font-size: var(--font-size-21xl);
  }
  .parent3 {
    gap: 32.1px 16px;
  }
  .b84,
  .b85,
  .h110 {
    font-size: var(--font-size-21xl);
  }
  .h110 {
    min-width: 100%;
  }
  .parent4 {
    gap: 32.1px 16px;
  }
  .wrapper38 {
    gap: 16px 32px;
  }
  .frame-parent33 {
    gap: 42px 84px;
  }
  .genealogy-inner {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .sitemap25 {
    gap: 64px 32px;
  }
  .footer25 {
    gap: 20px 40.7px;
  }
}
@media screen and (max-width: 450px) {
  .right60 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav22 {
    gap: 64px 16px;
  }
  .future-power22 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential22 {
    font-size: var(--font-size-5xl);
  }
  .future-power-parent17 {
    gap: 17px 68px;
  }
  .hero-section22 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news22 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from22,
  .hong-kong-4-10th-container22 {
    font-size: var(--font-size);
  }
  .banner23,
  .in-the-news-parent14 {
    gap: 64px 16px;
  }
  .at-lifewood-we46,
  .this-is-the32 {
    font-size: var(--font-size-lgi);
  }
  .harness-the-technology-container34 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right61 {
    gap: 21px 42px;
  }
  .b76 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .devoted-specialists14 {
    font-size: var(--font-size-lg);
  }
  .b77 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .delivery-sites14 {
    font-size: var(--font-size-lg);
  }
  .b78 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .countries-on-4-container13 {
    font-size: var(--font-size-lg);
  }
  .b79 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .language-capabilities14 {
    font-size: var(--font-size-lg);
  }
  .transforming-data-on12 {
    font-size: var(--font-size-5xl);
  }
  .lifewood-active-in-container12 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .button622 {
    font-size: var(--font-size-base);
  }
  .genealogy-parent14 {
    padding: var(--padding-306xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .h16 {
    font-size: var(--font-size-17xl);
  }
  .button626 {
    font-size: var(--font-size-base);
  }
  .discover-what-our-container13 {
    font-size: var(--font-size-8xl);
  }
  .data-acquisition89 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition90 {
    font-size: var(--font-size-3xl);
  }
  .button628 {
    font-size: var(--font-size-base);
  }
  .card35 {
    gap: 32px 24px;
  }
  .data-acquisition91 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition92 {
    font-size: var(--font-size-3xl);
  }
  .button630 {
    font-size: var(--font-size-base);
  }
  .card36 {
    gap: 32px 24px;
  }
  .data-acquisition93 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition94 {
    font-size: var(--font-size-3xl);
  }
  .button632 {
    font-size: var(--font-size-base);
  }
  .card37 {
    gap: 32px 24px;
  }
  .cards7,
  .wrapper37 {
    gap: 16px 64px;
  }
  .h17 {
    font-size: var(--font-size-17xl);
  }
  .button634 {
    font-size: var(--font-size-base);
  }
  .discover-what-our-container14 {
    font-size: var(--font-size-8xl);
  }
  .b80,
  .b81,
  .b82,
  .b83,
  .b84,
  .b85,
  .h110,
  .h18,
  .h19 {
    font-size: var(--font-size-11xl);
  }
  .frame-parent33 {
    gap: 21px 84px;
  }
  .genealogy-inner {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .ai19,
  .ai20,
  .b86,
  .b87,
  .b88,
  .button636,
  .div89,
  .div90,
  .div91,
  .div92,
  .div93,
  .div94,
  .div95,
  .instagram23,
  .linkedin22,
  .youtube68 {
    font-size: var(--font-size-base);
  }
  .sitemap25 {
    gap: 64px 16px;
  }
}
