.lifewood-icon23 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button638 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon302 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button637 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button640 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.arrow-icon303 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button639 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.button642 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon304 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button641 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button644 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon305 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button643 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button646 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon306 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button645 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 4;
}
.button648 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon307 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button647 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.button650,
.main23 {
  font-size: var(--font-size);
  font-family: var(--font);
  text-align: left;
}
.main23 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
  color: var(--gray);
}
.button650 {
  position: relative;
  color: var(--white);
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.arrow-icon308 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button649 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-11xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button649:hover {
  background-color: var(--color-teal);
}
.button652 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon58 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button651 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item23,
.nav23,
.right62 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right62 {
  align-self: stretch;
  flex: 0.3543;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-417xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item23,
.nav23 {
  justify-content: center;
}
.nav-item23 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav23 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power23,
.harnessing-the-potential23 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power23 {
  height: 114px;
  font-size: inherit;
  line-height: 176px;
}
.harnessing-the-potential23 {
  height: 28px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.17em;
}
.future-power-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-177xl-7) 0 var(--padding-177xl-6);
  gap: var(--gap-49xl);
}
.diamond-icon70 {
  height: 29px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  right: -6.4px;
}
.amazed-icon70 {
  height: 30.7px;
  width: 241.2px;
  position: relative;
}
.be-amazed-wrapper12,
.be-amazed59,
.hero-section23 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.be-amazed59 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.be-amazed-wrapper12,
.hero-section23 {
  align-self: stretch;
  justify-content: center;
}
.hero-section23 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  gap: var(--gap-3xs);
  background-image: url(./public/hero-section5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--white);
  font-family: var(--font-din-condensed);
}
.in-the-news23 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon309 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from23 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th23 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container23 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news23 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon23 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel23,
.lifewood23,
.youtube70 {
  margin: 0;
}
.lifewood-youtube-channel-container23 {
  position: relative;
  line-height: 19.8px;
}
.in-the-news-parent15,
.youtube69 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube69 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.in-the-news-parent15 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.at-lifewood-we47,
.banner24 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.banner24 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.at-lifewood-we47 {
  margin: 0;
  height: 61px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  min-width: 800px;
}
.this-is-the33 {
  align-self: stretch;
  height: 46px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.harness-the-technology38,
.your-business-to34 {
  margin: 0;
}
.harness-the-technology-container35 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: none;
}
.right63 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent36 {
  width: 1640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 30px;
  max-width: var(--max-col-width);
}
.image-icon17,
.two-column-text39 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.two-column-text39 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font);
}
.image-icon17 {
  height: 487px;
  flex-shrink: 0;
  object-fit: cover;
}
.b89 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.devoted14,
.specialists14 {
  margin: 0;
}
.devoted-specialists15 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box60 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b90 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.delivery14,
.sites14 {
  margin: 0;
}
.delivery-sites15 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box61 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b91 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.continents14,
.countries-on14 {
  margin: 0;
}
.countries-on-4-container14 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box62 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b92 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.capabilities14,
.language29 {
  margin: 0;
}
.language-capabilities15 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box63 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.img14,
.items16,
.left15 {
  display: flex;
  max-width: 100%;
}
.items16 {
  width: 735px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.img14,
.left15 {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.left15 {
  flex-direction: column;
  gap: var(--gap-base);
}
.img14 {
  overflow: hidden;
  flex-direction: row;
  min-width: 764px;
}
.transforming-data-on13 {
  align-self: stretch;
  height: 53px;
  position: relative;
  display: flex;
  align-items: center;
}
.frame-child29 {
  align-self: stretch;
  height: 16px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.transforming-data-on-a-global-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.and-forming-new13,
.as-benin-and13,
.forward-igniting-a13,
.lifewood-active-in14 {
  margin: 0;
}
.business-and-the13 {
  margin: 0;
  white-space: pre-wrap;
}
.communities-around-the13,
.creating-dynamic-opportunities13 {
  margin: 0;
}
.lifewood-active-in-container13 {
  align-self: stretch;
  height: 437px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 36px;
  display: inline-block;
}
.button654 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon310 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button653 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.button-wrapper26,
.cta16 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-wrapper26 {
  align-self: stretch;
  align-items: flex-end;
  font-size: var(--font-size);
  color: var(--white);
}
.cta16 {
  flex: 0.9622;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 764px;
  max-width: 100%;
  font-size: var(--font-size-61xl);
}
.grid-child11 {
  height: 93px;
  width: 820px;
  overflow: hidden;
  display: none;
  min-width: 820px;
  max-width: 100%;
}
.button656 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon311 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button-wrapper27,
.button655 {
  justify-content: center;
  box-sizing: border-box;
}
.button655 {
  width: 190px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button-wrapper27 {
  width: 820px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-12xl);
  min-width: 540px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.grid16 {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--max-col-width);
}
.genealogy-icon20,
.world-map15 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.world-map15 {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-13xl) var(--inline-padding-sm) var(--padding-45xl);
  box-sizing: border-box;
  min-height: 1666px;
}
.genealogy-icon20 {
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.diamond-icon71 {
  width: 16px;
  height: 29px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  left: 251.6px;
}
.amazed-icon71 {
  width: 241.2px;
  height: 30.7px;
  position: relative;
}
.be-amazed60 {
  width: 261.2px;
  height: 50.7px;
  margin: 0 !important;
  position: absolute;
  right: 52.8px;
  bottom: 32.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 var(--padding-3xs) var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  z-index: 1;
}
.genealogy-box,
.modalities6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.genealogy-box {
  width: 1640px;
  align-items: flex-start;
  position: relative;
  max-width: var(--max-col-width);
}
.modalities6 {
  align-self: stretch;
  height: 964px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.h111 {
  margin: 0;
  height: 40px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.arrow-icon312,
.button658,
.h111 {
  position: relative;
}
.arrow-icon312 {
  width: 33.7px;
  height: 15.9px;
}
.arrow-wrapper10,
.button657 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.button657 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
}
.discover-what-our19,
.services-have-accomplished19 {
  margin: 0;
}
.discover-what-our-container15 {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child30 {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent36 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.at-lifewood-we48 {
  margin: 0;
  height: 105px;
  width: 804px;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 800px;
  max-width: 100%;
}
.this-is-the34 {
  align-self: stretch;
  height: 210px;
  position: relative;
  white-space: pre-wrap;
  display: none;
}
.harness-the-technology39,
.your-business-to35 {
  margin: 0;
}
.harness-the-technology-container36 {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: none;
}
.right64 {
  height: 218px;
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent37,
.two-column-text40 {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent37 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: 0 0 113px;
  box-sizing: border-box;
}
.two-column-text40 {
  align-self: stretch;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.two-column-text40,
.wrapper-container7,
.wrapper39 {
  display: flex;
  align-items: flex-start;
}
.wrapper39 {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.wrapper-container7 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-78xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--black);
  font-family: var(--font);
}
.amazed-icon72 {
  align-self: stretch;
  height: 30.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.amazed-wrapper19 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-3) 0 0;
}
.diamond-icon72 {
  height: 29px;
  width: 16px;
  position: relative;
}
.be-amazed61 {
  width: 257.6px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.logo-icon23 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button660 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon59 {
  width: 11.1px;
  height: 5.7px;
  position: relative;
}
.chevron-down-wrapper12 {
  flex-direction: column;
  padding: var(--padding-3xs-6) 0 0;
}
.button659,
.chevron-down-wrapper12,
.logo-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button659 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logo-parent6 {
  width: 210px;
  flex-direction: column;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b93 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai21,
.ai22,
.div96,
.div97,
.div98,
.div99 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai22,
.div96,
.div97,
.div98,
.div99 {
  min-width: 99px;
}
.div96,
.div97,
.div98,
.div99 {
  min-width: 40px;
}
.div97,
.div98,
.div99 {
  min-width: 80px;
}
.map69 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b94,
.div100,
.div101 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div100,
.div101 {
  min-width: 40px;
}
.map70 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b95 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div102,
.instagram24,
.linkedin23,
.youtube71 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div102,
.instagram24,
.youtube71 {
  min-width: 40px;
}
.instagram24,
.youtube71 {
  min-width: 92px;
}
.youtube71 {
  min-width: 77px;
}
.map71,
.sitemap26 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.map71 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.sitemap26 {
  width: 1302px;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.footer-inner4,
.frame-parent37,
.sitemap26 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent37 {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.footer-inner4 {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
}
.footer26,
.language-processing2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font);
}
.footer26 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3);
  gap: var(--gap-21xl-7);
  min-height: 430px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.language-processing2 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
@media screen and (max-width: 1650px) {
  .at-lifewood-we-empower-busine-parent36,
  .frame-parent37,
  .genealogy-box,
  .grid16,
  .in-the-news-parent15,
  .wrapper39 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .footer26 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .right62 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav23 {
    gap: 64px 32px;
  }
  .future-power23 {
    font-size: var(--font-size-45xl);
    line-height: 106px;
  }
  .harnessing-the-potential23 {
    font-size: var(--font-size-13xl);
  }
  .future-power-parent18 {
    gap: 34px 68px;
    padding-top: var(--padding-109xl);
    padding-bottom: var(--padding-109xl);
    box-sizing: border-box;
  }
  .hero-section23 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news23 {
    font-size: var(--font-size-21xl);
  }
  .banner24,
  .in-the-news-parent15 {
    gap: 64px 32px;
  }
  .at-lifewood-we47 {
    font-size: var(--font-size-7xl);
  }
  .b89,
  .b90,
  .b91,
  .b92 {
    font-size: var(--font-size-29xl);
    line-height: 29px;
  }
  .items16 {
    flex-wrap: wrap;
  }
  .transforming-data-on13 {
    font-size: var(--font-size-21xl);
  }
  .modalities6 {
    gap: 42px 84px;
  }
  .h111 {
    font-size: var(--font-size-29xl);
  }
  .discover-what-our-container15 {
    font-size: var(--font-size-17xl);
  }
  .frame-parent36 {
    gap: 16px 32px;
  }
  .wrapper39 {
    gap: 32px 64px;
  }
  .sitemap26 {
    gap: 64px 32px;
  }
  .footer26 {
    gap: 20px 40.7px;
  }
}
@media screen and (max-width: 450px) {
  .right62 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav23 {
    gap: 64px 16px;
  }
  .future-power23 {
    font-size: var(--font-size-21xl);
    line-height: 70px;
  }
  .harnessing-the-potential23 {
    font-size: var(--font-size-5xl);
  }
  .future-power-parent18 {
    gap: 17px 68px;
  }
  .hero-section23 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news23 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from23,
  .hong-kong-4-10th-container23 {
    font-size: var(--font-size);
  }
  .banner24,
  .in-the-news-parent15 {
    gap: 64px 16px;
  }
  .at-lifewood-we47,
  .this-is-the33 {
    font-size: var(--font-size-lgi);
  }
  .harness-the-technology-container35 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right63 {
    gap: 21px 42px;
  }
  .b89 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .devoted-specialists15 {
    font-size: var(--font-size-lg);
  }
  .b90 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .delivery-sites15 {
    font-size: var(--font-size-lg);
  }
  .b91 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .countries-on-4-container14 {
    font-size: var(--font-size-lg);
  }
  .b92 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .language-capabilities15 {
    font-size: var(--font-size-lg);
  }
  .transforming-data-on13 {
    font-size: var(--font-size-5xl);
  }
  .lifewood-active-in-container13 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .button654 {
    font-size: var(--font-size-base);
  }
  .modalities6 {
    gap: 21px 84px;
  }
  .h111 {
    font-size: var(--font-size-17xl);
  }
  .button658 {
    font-size: var(--font-size-base);
  }
  .discover-what-our-container15 {
    font-size: var(--font-size-8xl);
  }
  .at-lifewood-we48,
  .this-is-the34 {
    font-size: var(--font-size-3xl);
  }
  .harness-the-technology-container36 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .wrapper39 {
    gap: 16px 64px;
  }
  .wrapper-container7 {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .ai21,
  .ai22,
  .b93,
  .b94,
  .b95,
  .button660,
  .div100,
  .div101,
  .div102,
  .div96,
  .div97,
  .div98,
  .div99,
  .instagram24,
  .linkedin23,
  .youtube71 {
    font-size: var(--font-size-base);
  }
  .sitemap26 {
    gap: 64px 16px;
  }
}
