.lifewood-icon21 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button582 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon276 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button581 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button584 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.arrow-icon277 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button583 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.button586 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon278 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button585 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button588 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon279 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button587 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button590 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon280 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button589 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 4;
}
.button592 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon281 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button591 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.button594,
.main21 {
  font-size: var(--font-size);
  font-family: var(--font);
  text-align: left;
}
.main21 {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
  color: var(--gray);
}
.button594 {
  position: relative;
  color: var(--white);
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.arrow-icon282 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button593 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-11xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button593:hover {
  background-color: var(--color-teal);
}
.button596 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon54 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button595 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item21,
.nav21,
.right57 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right57 {
  align-self: stretch;
  flex: 0.3543;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-417xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item21,
.nav21 {
  justify-content: center;
}
.nav-item21 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav21 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power21,
.harnessing-the-potential21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power21 {
  height: 114px;
  font-size: inherit;
}
.harnessing-the-potential21 {
  height: 28px;
  font-size: var(--font-size-21xl);
  letter-spacing: 0.17em;
}
.future-power-parent16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-177xl-7) 0 var(--padding-177xl-6);
  gap: var(--gap-49xl);
}
.diamond-icon64 {
  height: 29px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  right: -6.4px;
}
.amazed-icon64 {
  height: 30.7px;
  width: 241.2px;
  position: relative;
}
.be-amazed55,
.diamond-shape,
.hero-section21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.be-amazed55 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.diamond-shape,
.hero-section21 {
  align-self: stretch;
  justify-content: center;
}
.hero-section21 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  gap: var(--gap-3xs);
  background-image: url(./public/hero-section3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--white);
  font-family: var(--font-din-condensed);
}
.in-the-news21 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon283 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from21 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th21 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container21 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news21 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon21 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel21,
.lifewood21,
.youtube64 {
  margin: 0;
}
.lifewood-youtube-channel-container21 {
  position: relative;
  line-height: 19.8px;
}
.in-the-news-parent13,
.youtube63 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube63 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.in-the-news-parent13 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.at-lifewood-we44,
.banner22 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.banner22 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.at-lifewood-we44 {
  margin: 0;
  height: 61px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  min-width: 800px;
}
.this-is-the30 {
  align-self: stretch;
  height: 46px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.harness-the-technology35,
.your-business-to31 {
  margin: 0;
}
.harness-the-technology-container32 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: none;
}
.right58 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent33 {
  width: 1640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 30px;
  max-width: var(--max-col-width);
}
.image-icon15,
.two-column-text36 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.two-column-text36 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font);
}
.image-icon15 {
  height: 487px;
  flex-shrink: 0;
  object-fit: cover;
}
.b69 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.devoted12,
.specialists12 {
  margin: 0;
}
.devoted-specialists13 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box52 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b70 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.delivery12,
.sites12 {
  margin: 0;
}
.delivery-sites13 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box53 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b71 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.continents12,
.countries-on12 {
  margin: 0;
}
.countries-on-4-container12 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box54 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b72 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.capabilities12,
.language27 {
  margin: 0;
}
.language-capabilities13 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box55 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.img12,
.items14,
.left13 {
  display: flex;
  max-width: 100%;
}
.items14 {
  width: 735px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.img12,
.left13 {
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.left13 {
  flex-direction: column;
  gap: var(--gap-base);
}
.img12 {
  overflow: hidden;
  flex-direction: row;
  min-width: 764px;
}
.transforming-data-on11 {
  align-self: stretch;
  height: 53px;
  position: relative;
  display: flex;
  align-items: center;
}
.frame-child26 {
  align-self: stretch;
  height: 16px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.transforming-data-on-a-global-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.and-forming-new11,
.as-benin-and11,
.forward-igniting-a11,
.lifewood-active-in12 {
  margin: 0;
}
.business-and-the11 {
  margin: 0;
  white-space: pre-wrap;
}
.communities-around-the11,
.creating-dynamic-opportunities11 {
  margin: 0;
}
.lifewood-active-in-container11 {
  align-self: stretch;
  height: 437px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 36px;
  display: inline-block;
}
.button598 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon284 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button597 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.button-wrapper22,
.cta14 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-wrapper22 {
  align-self: stretch;
  align-items: flex-end;
  font-size: var(--font-size);
  color: var(--white);
}
.cta14 {
  flex: 0.9622;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 764px;
  max-width: 100%;
  font-size: var(--font-size-61xl);
}
.grid-child9 {
  height: 93px;
  width: 820px;
  overflow: hidden;
  display: none;
  min-width: 820px;
  max-width: 100%;
}
.button600 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon285 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button-wrapper23,
.button599 {
  justify-content: center;
  box-sizing: border-box;
}
.button599 {
  width: 190px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button-wrapper23 {
  width: 820px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-12xl);
  min-width: 540px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.grid14,
.world-map13 {
  overflow: hidden;
  align-items: center;
}
.grid14 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: var(--max-col-width);
}
.world-map13 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-13xl) var(--inline-padding-sm) var(--padding-45xl);
  box-sizing: border-box;
  min-height: 1666px;
  max-width: 100%;
}
.amazed-icon65,
.genealogy-icon18 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.genealogy-icon18 {
  flex: 1;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.amazed-icon65 {
  align-self: stretch;
  height: 30.7px;
  flex-shrink: 0;
  z-index: 1;
}
.amazed-wrapper15 {
  width: 241.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
}
.diamond-icon65 {
  height: 29px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.genealogy-parent13 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-749xl-9) var(--padding-27xl-4) var(--padding-23xl-2);
  box-sizing: border-box;
  gap: var(--gap-12xs-4);
  background-image: url(./public/genealogy2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: var(--max-col-width);
}
.h15 {
  margin: 0;
  height: 40px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.arrow-icon286,
.button602,
.h15 {
  position: relative;
}
.arrow-icon286 {
  width: 33.7px;
  height: 15.9px;
}
.arrow-wrapper8,
.button601 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.button601 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
}
.discover-what-our16,
.services-have-accomplished16 {
  margin: 0;
}
.discover-what-our-container12 {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.facebook-link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.empower-biz {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.linkedin-link {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.at-lifewood-we45,
.this-is-the31 {
  margin: 0;
  height: 105px;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.at-lifewood-we45 {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 800px;
  max-width: 100%;
}
.this-is-the31 {
  align-self: stretch;
  display: inline-block;
}
.harness-the-technology36,
.your-business-to32 {
  margin: 0;
}
.harness-the-technology-container33 {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: none;
}
.right59 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent34 {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  gap: 36px 29px;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent34,
.frame-parent32,
.two-column-text37,
.wrapper36 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.two-column-text37 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.frame-parent32,
.wrapper36 {
  flex-direction: column;
}
.wrapper36 {
  width: 100%;
  overflow: hidden;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.frame-parent32 {
  width: 1640px;
  gap: var(--gap-65xl);
  max-width: 100%;
}
.amazed-icon66,
.ml-child {
  align-self: stretch;
  max-width: 100%;
}
.ml-child {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-78xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--black);
  font-family: var(--font);
}
.amazed-icon66 {
  height: 30.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.amazed-wrapper16 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-3) 0 0;
}
.diamond-icon66 {
  height: 29px;
  width: 16px;
  position: relative;
}
.be-amazed56 {
  width: 257.6px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.logo-icon21 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button604 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon55 {
  width: 11.1px;
  height: 5.7px;
  position: relative;
}
.chevron-down-wrapper10 {
  flex-direction: column;
  padding: var(--padding-3xs-6) 0 0;
}
.button603,
.chevron-down-wrapper10,
.follow-us15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button603 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.follow-us15 {
  width: 210px;
  flex-direction: column;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b73 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai17,
.ai18,
.div79,
.div80,
.div81,
.div82 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai18,
.div79,
.div80,
.div81,
.div82 {
  min-width: 99px;
}
.div79,
.div80,
.div81,
.div82 {
  min-width: 40px;
}
.div80,
.div81,
.div82 {
  min-width: 80px;
}
.map63 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b74,
.div83,
.div84 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div83,
.div84 {
  min-width: 40px;
}
.map64 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b75 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div85,
.instagram22,
.linkedin21,
.youtube65 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div85,
.instagram22,
.youtube65 {
  min-width: 40px;
}
.instagram22,
.youtube65 {
  min-width: 92px;
}
.youtube65 {
  min-width: 77px;
}
.map65,
.sitemap24 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.map65 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.sitemap24 {
  width: 1302px;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.language-map-wrapper,
.language-map1,
.sitemap24 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.language-map1 {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.language-map-wrapper {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
}
.footer24,
.ml1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font);
}
.footer24 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3);
  gap: var(--gap-21xl-7);
  min-height: 430px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.ml1 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
@media screen and (max-width: 1650px) {
  .at-lifewood-we-empower-busine-parent33,
  .genealogy-parent13,
  .grid14,
  .in-the-news-parent13,
  .language-map1,
  .wrapper36 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .footer24,
  .ml-child {
    box-sizing: border-box;
  }
  .ml-child {
    padding-bottom: var(--padding-44xl);
  }
  .footer24 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
  }
}
@media screen and (max-width: 900px) {
  .right57 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav21 {
    gap: 64px 32px;
  }
  .future-power21 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential21 {
    font-size: var(--font-size-13xl);
  }
  .future-power-parent16 {
    gap: 34px 68px;
    padding-top: var(--padding-109xl);
    padding-bottom: var(--padding-109xl);
    box-sizing: border-box;
  }
  .hero-section21 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news21 {
    font-size: var(--font-size-21xl);
  }
  .banner22,
  .in-the-news-parent13 {
    gap: 64px 32px;
  }
  .at-lifewood-we44 {
    font-size: var(--font-size-7xl);
  }
  .b69,
  .b70,
  .b71,
  .b72 {
    font-size: var(--font-size-29xl);
    line-height: 29px;
  }
  .items14 {
    flex-wrap: wrap;
  }
  .transforming-data-on11 {
    font-size: var(--font-size-21xl);
  }
  .genealogy-parent13 {
    padding-top: var(--padding-481xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .h15 {
    font-size: var(--font-size-29xl);
  }
  .discover-what-our-container12 {
    font-size: var(--font-size-17xl);
  }
  .linkedin-link {
    gap: 16px 32px;
  }
  .wrapper36 {
    gap: 32px 64px;
  }
  .frame-parent32 {
    gap: 42px 84px;
  }
  .ml-child {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .sitemap24 {
    gap: 64px 32px;
  }
  .footer24 {
    gap: 20px 40.7px;
  }
}
@media screen and (max-width: 450px) {
  .right57 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav21 {
    gap: 64px 16px;
  }
  .future-power21 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential21 {
    font-size: var(--font-size-5xl);
  }
  .future-power-parent16 {
    gap: 17px 68px;
  }
  .hero-section21 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news21 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from21,
  .hong-kong-4-10th-container21 {
    font-size: var(--font-size);
  }
  .banner22,
  .in-the-news-parent13 {
    gap: 64px 16px;
  }
  .at-lifewood-we44,
  .this-is-the30 {
    font-size: var(--font-size-lgi);
  }
  .harness-the-technology-container32 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right58 {
    gap: 21px 42px;
  }
  .b69 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .devoted-specialists13 {
    font-size: var(--font-size-lg);
  }
  .b70 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .delivery-sites13 {
    font-size: var(--font-size-lg);
  }
  .b71 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .countries-on-4-container12 {
    font-size: var(--font-size-lg);
  }
  .b72 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .language-capabilities13 {
    font-size: var(--font-size-lg);
  }
  .transforming-data-on11 {
    font-size: var(--font-size-5xl);
  }
  .lifewood-active-in-container11 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .button598 {
    font-size: var(--font-size-base);
  }
  .genealogy-parent13 {
    padding: var(--padding-306xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .h15 {
    font-size: var(--font-size-17xl);
  }
  .button602 {
    font-size: var(--font-size-base);
  }
  .discover-what-our-container12 {
    font-size: var(--font-size-8xl);
  }
  .at-lifewood-we45,
  .this-is-the31 {
    font-size: var(--font-size-3xl);
  }
  .harness-the-technology-container33 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right59 {
    gap: 21px 42px;
  }
  .wrapper36 {
    gap: 16px 64px;
  }
  .frame-parent32 {
    gap: 21px 84px;
  }
  .ai17,
  .ai18,
  .b73,
  .b74,
  .b75,
  .button604,
  .div79,
  .div80,
  .div81,
  .div82,
  .div83,
  .div84,
  .div85,
  .instagram22,
  .linkedin21,
  .youtube65 {
    font-size: var(--font-size-base);
  }
  .sitemap24 {
    gap: 64px 16px;
  }
}
