.lifewood-icon18 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  cursor: pointer;
}
.button506 {
  position: relative;
  display: inline-block;
  min-width: 105px;
  white-space: nowrap;
}
.arrow-icon243 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button505 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button508 {
  position: relative;
  display: inline-block;
  min-width: 99px;
}
.arrow-icon244 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button507 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.button510 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.arrow-icon245 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button509 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 2;
}
.button512 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon246 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button511 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 3;
}
.button514 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--gray);
  text-align: left;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon46 {
  height: 5.7px;
  width: 11.1px;
  position: relative;
  display: none;
}
.button513 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: transparent;
  border-bottom: 2px solid var(--yellow);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  z-index: 4;
}
.button513:hover {
  background-color: var(--color-chocolate);
}
.button516 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon247 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button515,
.main18 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button515 {
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 5;
}
.main18 {
  flex: 1;
  justify-content: space-between;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: -0.15px;
}
.button518 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 80px;
  white-space: nowrap;
}
.arrow-icon248 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button517 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-11xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button517:hover {
  background-color: var(--color-teal);
}
.button520 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon47 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button519 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
}
.nav-item18,
.nav18,
.right47 {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.right47 {
  align-self: stretch;
  flex: 0.3543;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-417xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item18,
.nav18 {
  justify-content: center;
}
.nav-item18 {
  height: 43px;
  width: 1366.5px;
  align-items: center;
  gap: var(--gap-base);
}
.nav18 {
  align-self: stretch;
  height: 139.2px;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power18,
.harnessing-the-potential18 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power18 {
  height: 114px;
  font-size: inherit;
}
.harnessing-the-potential18 {
  height: 43px;
  font-size: var(--font-size-41xl);
  color: var(--white);
}
.future-power-parent13 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-170xl-2) 0 var(--padding-170xl-1);
  gap: var(--gap-49xl);
}
.diamond-icon54 {
  height: 29px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  right: -6.4px;
}
.amazed-icon54 {
  height: 30.7px;
  width: 241.2px;
  position: relative;
}
.be-amazed-wrapper8,
.be-amazed49,
.hero-section18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.be-amazed49 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.be-amazed-wrapper8,
.hero-section18 {
  align-self: stretch;
  justify-content: center;
}
.hero-section18 {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  gap: var(--gap-3xs);
  background-image: url(./public/hero-section13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--yellow);
  font-family: var(--font-din-condensed);
}
.in-the-news18 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon249 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from18 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th18 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container18 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news18 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon18 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel18,
.lifewood18,
.youtube55 {
  margin: 0;
}
.lifewood-youtube-channel-container18 {
  position: relative;
  line-height: 19.8px;
}
.in-the-news-parent10,
.youtube54 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.youtube54 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.in-the-news-parent10 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.at-lifewood-we39,
.banner19 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.banner19 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.at-lifewood-we39 {
  margin: 0;
  height: 61px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  min-width: 800px;
}
.this-is-the24 {
  align-self: stretch;
  height: 46px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.harness-the-technology28,
.your-business-to24 {
  margin: 0;
}
.harness-the-technology-container25 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: none;
}
.at-lifewood-we-empower-busine-parent27,
.right48 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right48 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent27 {
  width: 1640px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 20px;
  max-width: var(--max-col-width);
  flex-shrink: 0;
}
.two-column-text-wrapper1,
.two-column-text29 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.two-column-text29 {
  flex: 1;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
}
.two-column-text-wrapper1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-45xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font);
}
.amazed-icon55,
.genealogy-icon14 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.genealogy-icon14 {
  flex: 1;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.amazed-icon55 {
  align-self: stretch;
  height: 30.7px;
  flex-shrink: 0;
  z-index: 1;
}
.amazed-wrapper9 {
  width: 241.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
}
.diamond-icon55 {
  height: 29px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.genealogy-parent9 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-749xl-9) var(--padding-27xl-4) var(--padding-23xl-2);
  box-sizing: border-box;
  gap: var(--gap-12xs-4);
  background-image: url(./public/genealogy12@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: var(--max-col-width);
}
.constant-innovation-unlimited10 {
  margin: 0;
  height: 79px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.discover-what-our13,
.services-have-accomplished13 {
  margin: 0;
}
.a-wide-variety-container12 {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.constant-innovation-unlimited-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-child22 {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent27,
.heading11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent27 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-13xl);
}
.heading11 {
  align-self: stretch;
  flex-direction: row;
}
.data-acquisition81,
.data-acquisition82 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition81 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition82 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button522 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon250 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button521 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info31 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon59,
.vector-icon60 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon59 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 0;
}
.vector-icon60 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.div54 {
  height: 419px;
  width: 800px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
  max-width: 100%;
}
.card31 {
  width: 788px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px 100px;
  min-width: 550px;
  max-width: 100%;
}
.blank-line4,
.text1 {
  margin: 0;
}
.text1 {
  height: 70px;
  width: 0;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.data-acquisition83,
.data-acquisition84 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition83 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition84 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button524 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon251 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button523 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info32 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon61,
.vector-icon62 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon61 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 0;
}
.vector-icon62 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card32,
.div55 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div55 {
  height: 419px;
  width: 800px;
  display: none;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card32 {
  width: 788px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 100px;
  min-width: 550px;
}
.data-acquisition85,
.data-acquisition86 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition85 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition86 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button526 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon252 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button525 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info33 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon63,
.vector-icon64 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon63 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 0;
}
.vector-icon64 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  object-fit: cover;
  z-index: 1;
}
.card33,
.div56 {
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.div56 {
  height: 419px;
  width: 800px;
  display: none;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card33 {
  width: 804px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 100px;
  min-width: 550px;
}
.data-acquisition87,
.data-acquisition88 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-family: inherit;
}
.data-acquisition87 {
  height: 75px;
  font-size: inherit;
  font-weight: 700;
  display: inline-block;
}
.data-acquisition88 {
  font-size: var(--font-size-9xl);
  line-height: 35px;
  font-weight: 400;
}
.button528 {
  height: 25px;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  flex-shrink: 0;
}
.arrow-icon253 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button527 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  font-size: var(--font-size);
  color: var(--gray);
}
.info34 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--gap-base);
  min-width: 600px;
  max-width: 100%;
}
.vector-icon65 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 0;
}
.div57,
.vector-icon66 {
  display: none;
  max-width: 100%;
}
.vector-icon66 {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0.12%;
  right: 0.06%;
  bottom: 0.12%;
  left: 0.06%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.div57 {
  height: 419px;
  width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  min-width: 800px;
}
.card34 {
  width: 804px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 100px;
  min-width: 550px;
  max-width: 100%;
}
.card34,
.cards6,
.frame-parent26,
.wrapper32 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cards6 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px 28px;
  min-height: 354px;
  max-width: 100%;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
.frame-parent26,
.wrapper32 {
  flex-direction: column;
}
.wrapper32 {
  width: 100%;
  overflow: hidden;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.frame-parent26 {
  align-self: stretch;
  gap: var(--gap-65xl);
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.h12 {
  margin: 0;
  align-self: stretch;
  height: 40px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 650px;
}
.diamond {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
  box-sizing: border-box;
  min-width: 593px;
  max-width: 100%;
}
.button530 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.arrow-icon254 {
  width: 33.7px;
  height: 15.9px;
  position: relative;
}
.amazed-button,
.arrow-wrapper6,
.button529 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-wrapper6 {
  flex-direction: column;
  padding: var(--padding-8xs-5) 0 0;
}
.amazed-button,
.button529 {
  flex-direction: row;
}
.button529 {
  border-radius: var(--br-5xs);
  padding: var(--padding-4xs) var(--padding-mini) var(--padding-4xs)
    var(--padding-base);
  gap: var(--gap-xs);
  margin-left: -2px;
  font-size: var(--font-size);
}
.amazed-button {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.map-label {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.footer19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--font-size-41xl);
  color: var(--black);
}
.p3,
.p4 {
  margin: 0;
}
.at-lifewood-we-container16 {
  line-break: anywhere;
}
.at-lifewood-we-container15,
.this-is-the25 {
  margin: 0;
  height: 158px;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
}
.at-lifewood-we-container15 {
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 800px;
  max-width: 100%;
}
.this-is-the25 {
  align-self: stretch;
  display: inline-block;
}
.harness-the-technology29,
.your-business-to25 {
  margin: 0;
}
.harness-the-technology-container26 {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: none;
}
.right49 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent28,
.two-column-text30 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.at-lifewood-we-empower-busine-parent28 {
  flex: 1;
  gap: 36px 29px;
  max-width: var(--max-col-width);
}
.two-column-text30 {
  align-self: stretch;
  overflow: hidden;
  max-width: 100%;
}
.amazed-icon56,
.genealogy-icon15 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.genealogy-icon15 {
  flex: 1;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.amazed-icon56 {
  align-self: stretch;
  height: 30.7px;
  flex-shrink: 0;
  z-index: 1;
}
.footer-button {
  width: 241.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
}
.diamond-icon56 {
  height: 29px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.genealogy-parent10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-749xl-9) var(--padding-27xl-4) var(--padding-23xl-2);
  box-sizing: border-box;
  gap: var(--gap-12xs-4);
  background-image: url(./public/genealogy1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
}
.ai-gpt {
  height: 88px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 35px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 800px;
  max-width: 100%;
}
.ai-gpt,
.companys-best-performers2,
.disabled-we-have2,
.example-of-tilotom2,
.family-physically-disabled2,
.familys-primary-breadwinner2,
.for-instance-in2,
.he-has-quickly2,
.of-women-and2,
.responsibilities2,
.training-and-his2 {
  margin: 0;
}
.this-is-the-container8 {
  align-self: stretch;
  height: 333px;
  position: relative;
  display: inline-block;
}
.harness-the-technology30,
.your-business-to26 {
  margin: 0;
}
.harness-the-technology-container27 {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: none;
}
.right50 {
  height: 218px;
  width: 804px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
}
.footer20,
.two-column-text31,
.wrapper33 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer20 {
  width: 820px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
}
.two-column-text31,
.wrapper33 {
  overflow: hidden;
}
.two-column-text31 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.wrapper33 {
  width: 100%;
  flex-direction: column;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
  flex-shrink: 0;
  debug_commit: f6aba90;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.frame-parent25,
.our-company-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent25 {
  width: 1640px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 161px;
}
.our-company-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-101xl);
  color: var(--black);
  font-family: var(--font);
}
.amazed-icon57 {
  align-self: stretch;
  height: 30.7px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.amazed-wrapper10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-3) 0 0;
}
.diamond-icon57 {
  height: 29px;
  width: 16px;
  position: relative;
}
.be-amazed50 {
  width: 257.6px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.logo-icon18 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.button532 {
  position: relative;
  display: inline-block;
  min-width: 80px;
}
.chevron-down-icon48 {
  width: 11.1px;
  height: 5.7px;
  position: relative;
}
.chevron-down-wrapper7 {
  flex-direction: column;
  padding: var(--padding-3xs-6) 0 0;
}
.button531,
.chevron-down-button,
.chevron-down-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button531 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.chevron-down-button {
  height: 150.2px;
  width: 210px;
  flex-direction: column;
  padding: 0 0 var(--padding-88xl);
  box-sizing: border-box;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.b52 {
  position: relative;
  display: inline-block;
  min-width: 40px;
}
.ai11,
.ai12,
.div58,
.div59,
.div60,
.div61 {
  position: relative;
  display: inline-block;
  min-width: 105px;
}
.ai12,
.div58,
.div59,
.div60,
.div61 {
  min-width: 99px;
}
.div58,
.div59,
.div60,
.div61 {
  min-width: 40px;
}
.div59,
.div60,
.div61 {
  min-width: 80px;
}
.map54 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b53,
.div62,
.div63 {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.div62,
.div63 {
  min-width: 40px;
}
.map55 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.b54 {
  position: relative;
  display: inline-block;
  min-width: 100px;
}
.div64,
.instagram19,
.linkedin18,
.youtube56 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.div64,
.instagram19,
.youtube56 {
  min-width: 40px;
}
.instagram19,
.youtube56 {
  min-width: 92px;
}
.youtube56 {
  min-width: 77px;
}
.map56,
.sitemap21 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.map56 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.sitemap21 {
  width: 1302px;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.chevron-down-button-parent,
.site-map-link1,
.sitemap21 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.chevron-down-button-parent {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.site-map-link1 {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
}
.footer21,
.our-company16 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer21 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3);
  gap: var(--gap-21xl-7);
  min-height: 430px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--white);
  font-family: var(--font);
}
.our-company16 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .at-lifewood-we-empower-busine-parent27,
  .at-lifewood-we-empower-busine-parent28,
  .chevron-down-button-parent,
  .genealogy-parent9,
  .in-the-news-parent10,
  .wrapper32,
  .wrapper33 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .frame-parent25 {
    gap: 80px 161px;
  }
  .our-company-inner {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .footer21 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .right47 {
    padding-left: var(--padding-199xl);
    box-sizing: border-box;
  }
  .nav18 {
    gap: 64px 32px;
  }
  .future-power18 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential18 {
    font-size: var(--font-size-29xl);
  }
  .future-power-parent13 {
    gap: 34px 68px;
    padding-top: var(--padding-104xl);
    padding-bottom: var(--padding-104xl);
    box-sizing: border-box;
  }
  .hero-section18 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news18 {
    font-size: var(--font-size-21xl);
  }
  .banner19,
  .in-the-news-parent10 {
    gap: 64px 32px;
  }
  .at-lifewood-we39 {
    font-size: var(--font-size-7xl);
  }
  .genealogy-parent9 {
    padding-top: var(--padding-481xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .constant-innovation-unlimited10 {
    font-size: var(--font-size-29xl);
  }
  .a-wide-variety-container12 {
    font-size: var(--font-size-17xl);
  }
  .frame-parent27 {
    gap: 16px 32px;
  }
  .heading11 {
    gap: 32px 16px;
  }
  .data-acquisition81 {
    font-size: var(--font-size-29xl);
  }
  .card31 {
    gap: 32px 50px;
  }
  .data-acquisition83 {
    font-size: var(--font-size-29xl);
  }
  .card32 {
    gap: 32px 50px;
  }
  .data-acquisition85 {
    font-size: var(--font-size-29xl);
  }
  .card33 {
    gap: 32px 50px;
  }
  .data-acquisition87 {
    font-size: var(--font-size-29xl);
  }
  .card34 {
    gap: 32px 50px;
  }
  .wrapper32 {
    gap: 32px 64px;
  }
  .frame-parent26 {
    gap: 42px 84px;
  }
  .h12 {
    font-size: var(--font-size-29xl);
  }
  .footer19 {
    gap: 16px 32px;
  }
  .genealogy-parent10 {
    padding-top: var(--padding-481xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .footer20 {
    max-width: 100%;
  }
  .wrapper33 {
    gap: 32px 64px;
  }
  .frame-parent25 {
    gap: 40px 161px;
  }
  .our-company-inner {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .sitemap21 {
    gap: 64px 32px;
  }
  .footer21 {
    gap: 20px 40.7px;
  }
}
@media screen and (max-width: 450px) {
  .right47 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .nav18 {
    gap: 64px 16px;
  }
  .future-power18 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential18 {
    font-size: var(--font-size-17xl);
  }
  .future-power-parent13 {
    gap: 17px 68px;
  }
  .hero-section18 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news18 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from18,
  .hong-kong-4-10th-container18 {
    font-size: var(--font-size);
  }
  .banner19,
  .in-the-news-parent10 {
    gap: 64px 16px;
  }
  .at-lifewood-we39,
  .this-is-the24 {
    font-size: var(--font-size-lgi);
  }
  .harness-the-technology-container25 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right48 {
    gap: 21px 42px;
  }
  .genealogy-parent9 {
    padding: var(--padding-306xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .constant-innovation-unlimited10 {
    font-size: var(--font-size-11xl);
  }
  .a-wide-variety-container12 {
    font-size: var(--font-size-8xl);
  }
  .data-acquisition81 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition82 {
    font-size: var(--font-size-3xl);
  }
  .button522 {
    font-size: var(--font-size-base);
  }
  .card31 {
    gap: 32px 25px;
  }
  .text1 {
    font-size: var(--font-size-3xl);
  }
  .data-acquisition83 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition84 {
    font-size: var(--font-size-3xl);
  }
  .button524 {
    font-size: var(--font-size-base);
  }
  .card32 {
    gap: 32px 25px;
  }
  .data-acquisition85 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition86 {
    font-size: var(--font-size-3xl);
  }
  .button526 {
    font-size: var(--font-size-base);
  }
  .card33 {
    gap: 32px 25px;
  }
  .data-acquisition87 {
    font-size: var(--font-size-17xl);
  }
  .data-acquisition88 {
    font-size: var(--font-size-3xl);
  }
  .button528 {
    font-size: var(--font-size-base);
  }
  .card34 {
    gap: 32px 25px;
  }
  .wrapper32 {
    gap: 16px 64px;
  }
  .frame-parent26 {
    gap: 21px 84px;
  }
  .h12 {
    font-size: var(--font-size-17xl);
  }
  .button530 {
    font-size: var(--font-size-base);
  }
  .at-lifewood-we-container15,
  .this-is-the25 {
    font-size: var(--font-size-3xl);
  }
  .harness-the-technology-container26 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right49 {
    gap: 21px 42px;
  }
  .genealogy-parent10 {
    padding: var(--padding-306xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .ai-gpt,
  .this-is-the-container8 {
    font-size: var(--font-size-3xl);
  }
  .harness-the-technology-container27 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .wrapper33 {
    gap: 16px 64px;
  }
  .frame-parent25 {
    gap: 20px 161px;
  }
  .ai11,
  .ai12,
  .b52,
  .b53,
  .b54,
  .button532,
  .div58,
  .div59,
  .div60,
  .div61,
  .div62,
  .div63,
  .div64,
  .instagram19,
  .linkedin18,
  .youtube56 {
    font-size: var(--font-size-base);
  }
  .sitemap21 {
    gap: 64px 16px;
  }
}
