.lifewood-icon5 {
  height: 43.2px;
  width: 209.5px;
  position: relative;
  min-height: 43px;
  cursor: pointer;
}
.button175 {
  position: relative;
  white-space: nowrap;
}
.arrow-icon92 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button174 {
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 118px;
  cursor: pointer;
}
.button177 {
  position: relative;
  display: inline-block;
  min-width: 99px;
  white-space: nowrap;
}
.arrow-icon93 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button176 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.arrow-icon94,
.button179 {
  position: relative;
}
.arrow-icon94 {
  height: 15.9px;
  width: 33.7px;
  display: none;
}
.button178 {
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
  min-width: 111px;
  cursor: pointer;
}
.button181 {
  position: relative;
  display: inline-block;
  min-width: 115px;
  white-space: nowrap;
}
.arrow-icon95 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button180 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button183 {
  position: relative;
  display: inline-block;
  min-width: 129px;
  white-space: nowrap;
}
.arrow-icon96 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button182 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-xs);
  cursor: pointer;
}
.button185 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--black);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.chevron-down-icon15 {
  height: 5.7px;
  width: 11.1px;
  position: relative;
  display: none;
}
.button184,
.main5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button184 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: transparent;
  border-bottom: 2px solid var(--yellow);
  justify-content: center;
  gap: var(--gap-xs);
}
.button184:hover {
  background-color: var(--color-chocolate);
}
.main5 {
  width: 974px;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.button187 {
  position: relative;
  font-size: var(--font-size);
  font-family: var(--font);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 75px;
}
.arrow-icon97 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
  display: none;
}
.button186 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-13xl);
  background-color: var(--green);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.button186:hover {
  background-color: var(--color-teal);
}
.button189 {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.chevron-down-icon16 {
  height: 7.9px;
  width: 16.8px;
  position: relative;
}
.button188,
.nav-item5,
.right12 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button188 {
  height: 43px;
  border-radius: var(--br-5xs);
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.nav-item5,
.right12 {
  max-width: 100%;
}
.right12 {
  justify-content: flex-end;
  padding: 0 0 0 var(--padding-114xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.nav-item5 {
  flex: 1;
  justify-content: space-between;
  row-gap: 20px;
  gap: var(--gap-0);
}
.lifewood-parent1,
.nav5 {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lifewood-parent1 {
  width: 1640px;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-3xs);
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.nav5 {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--gray);
  align-items: flex-end;
  padding: var(--padding-13xl) var(--padding-xl);
  min-height: 159px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size);
  color: var(--gray);
  font-family: var(--font);
}
.future-power5,
.harnessing-the-potential5 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.future-power5 {
  height: 114px;
  font-size: inherit;
}
.harnessing-the-potential5 {
  height: 43px;
  font-size: var(--font-size-41xl);
  color: var(--white);
}
.empower-business-message {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-170xl-2) 0 var(--padding-170xl-1);
  gap: var(--gap-49xl);
}
.diamond-icon15 {
  height: 29px;
  width: 16px;
  position: absolute;
  margin: 0 !important;
  top: -15.2px;
  right: -6.4px;
}
.amazed-icon15 {
  height: 30.7px;
  width: 241.2px;
  position: relative;
}
.be-amazed-wrapper1,
.be-amazed15,
.hero-section5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.be-amazed15 {
  justify-content: flex-start;
  padding: var(--padding-3xs);
  position: relative;
  gap: var(--gap-3xs);
}
.be-amazed-wrapper1,
.hero-section5 {
  align-self: stretch;
  justify-content: center;
}
.hero-section5 {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-79xl) var(--inline-padding-sm);
  gap: var(--gap-3xs);
  background-image: url(./public/hero-section13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-141xl);
  color: var(--yellow);
  font-family: var(--font-din-condensed);
}
.in-the-news5 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.arrow-icon98 {
  height: 31.8px;
  width: 67.3px;
  position: relative;
}
.exclusive-coverage-from5 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.th5 {
  font-size: var(--font-size-mini-6);
}
.hong-kong-4-10th-container5 {
  align-self: stretch;
  height: 17px;
  position: relative;
  display: inline-block;
}
.news5 {
  width: 881px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs-3) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.youtube-icon5 {
  height: 60.6px;
  width: 60.6px;
  position: relative;
  object-fit: cover;
}
.channel5,
.lifewood5,
.youtube16 {
  margin: 0;
}
.lifewood-youtube-channel-container5 {
  position: relative;
  line-height: 19.8px;
}
.youtube15 {
  width: 186.6px;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.banner5,
.in-the-news-parent2,
.youtube15 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.in-the-news-parent2 {
  width: 1640px;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.banner5 {
  align-self: stretch;
  background-color: var(--yellow);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-13xl) var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--white);
  font-family: var(--font);
}
.innovation-adaptability-and {
  margin: 0;
}
.development-of-new {
  margin: 0;
  white-space: pre-wrap;
}
.companies-that-constantly,
.level-from-their {
  margin: 0;
}
.at-lifewood-we-container13 {
  margin: 0;
  height: 141px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  min-width: 800px;
  max-width: 100%;
}
.and-growing-teams,
.deliver-evolving-technologies,
.innovation-especially-across,
.it-means-motivating {
  margin: 0;
}
.this-is-the-container4 {
  align-self: stretch;
  height: 106px;
  position: relative;
  line-height: 30px;
  display: inline-block;
}
.harness-the-technology6,
.your-business-to4 {
  margin: 0;
}
.harness-the-technology-container5 {
  align-self: stretch;
  height: 52px;
  position: relative;
  line-height: 36px;
  display: none;
}
.right13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.at-lifewood-we-empower-busine-parent5 {
  width: 1640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 32px 30px;
  max-width: var(--max-col-width);
  flex-shrink: 0;
}
.image-icon4,
.two-column-text7 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.two-column-text7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-71xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font);
}
.image-icon4 {
  height: 487px;
  flex-shrink: 0;
  object-fit: cover;
}
.b10 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.devoted1,
.specialists1 {
  margin: 0;
}
.devoted-specialists2 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box8 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b11 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.delivery1,
.sites1 {
  margin: 0;
}
.delivery-sites2 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box9 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b12 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.continents1,
.countries-on1 {
  margin: 0;
}
.countries-on-4-container1 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box10 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.b13 {
  height: 40px;
  position: relative;
  line-height: 36px;
  display: inline-block;
}
.capabilities1,
.language5 {
  margin: 0;
}
.language-capabilities2 {
  height: 43px;
  position: relative;
  font-size: var(--font-size-3xl);
  text-align: center;
  display: inline-block;
}
.box11 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs) 0;
  gap: var(--gap-5xl);
}
.items2 {
  width: 735px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.left2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.img2,
.left2,
.transforming-data-on1 {
  display: flex;
  align-items: center;
}
.img2 {
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  min-width: 764px;
  max-width: 100%;
}
.transforming-data-on1 {
  align-self: stretch;
  height: 53px;
  position: relative;
}
.frame-child4 {
  align-self: stretch;
  height: 16px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.transforming-data-on-a-global-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.and-forming-new1,
.as-benin-and1,
.forward-igniting-a1,
.lifewood-active-in2 {
  margin: 0;
}
.business-and-the1 {
  margin: 0;
  white-space: pre-wrap;
}
.communities-around-the1,
.creating-dynamic-opportunities1 {
  margin: 0;
}
.lifewood-active-in-container1 {
  align-self: stretch;
  height: 437px;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 36px;
  display: inline-block;
}
.button191 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon99 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button-wrapper2,
.button190,
.cta4 {
  display: flex;
  justify-content: center;
}
.button190 {
  width: 140px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-xs);
}
.button-wrapper2,
.cta4 {
  flex-direction: column;
}
.button-wrapper2 {
  align-self: stretch;
  align-items: flex-end;
  font-size: var(--font-size);
  color: var(--white);
}
.cta4 {
  flex: 0.9622;
  align-items: flex-start;
  padding: var(--padding-13xl) 0 0 var(--padding-12xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  min-width: 764px;
  max-width: 100%;
  font-size: var(--font-size-61xl);
}
.grid-item {
  height: 93px;
  width: 820px;
  overflow: hidden;
  display: none;
  min-width: 820px;
  max-width: 100%;
}
.button193 {
  height: 25px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.arrow-icon100 {
  height: 15.9px;
  width: 33.7px;
  position: relative;
}
.button-wrapper3,
.button192 {
  justify-content: center;
  box-sizing: border-box;
}
.button192 {
  width: 190px;
  height: 43px;
  border-radius: var(--br-5xs);
  background-color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
  white-space: nowrap;
}
.button-wrapper3 {
  width: 820px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-12xl);
  min-width: 540px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.grid4,
.world-map2 {
  overflow: hidden;
  align-items: center;
}
.grid4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: var(--max-col-width);
}
.world-map2 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-13xl) var(--inline-padding-sm) var(--padding-45xl);
  box-sizing: border-box;
  min-height: 1666px;
  max-width: 100%;
}
.amazed-icon16,
.genealogy-icon4 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.genealogy-icon4 {
  flex: 1;
  max-height: 100%;
  object-fit: cover;
  display: none;
}
.amazed-icon16 {
  align-self: stretch;
  height: 30.7px;
  flex-shrink: 0;
  z-index: 1;
}
.amazed-logo-icon {
  width: 241.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-2) 0 0;
  box-sizing: border-box;
}
.diamond-icon16 {
  height: 29px;
  width: 16px;
  position: relative;
  z-index: 1;
}
.dropdown-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-749xl-9) var(--padding-27xl-4) var(--padding-23xl-2);
  box-sizing: border-box;
  gap: var(--gap-12xs-4);
  background-image: url(./public/genealogy10@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: var(--max-col-width);
}
.always-on-never,
.button195 {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.always-on-never {
  margin: 0;
  height: 40px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.button195 {
  min-width: 123px;
}
.arrow-icon101 {
  width: 33.7px;
  height: 15.9px;
  position: relative;
}
.arrow-wrapper,
.button194 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs-5) 0 0;
}
.button194 {
  border-radius: var(--br-5xs);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-xs);
  font-size: var(--font-size);
}
.discover-what-our1,
.services-have-accomplished1 {
  margin: 0;
}
.discover-what-our-container {
  height: 87px;
  width: 647px;
  position: relative;
  font-size: var(--font-size-26xl);
  display: none;
  text-align: right;
  max-width: 100%;
}
.always-on-never-off-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-10xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
.language-map {
  align-self: stretch;
  height: 12px;
  position: relative;
  background-color: var(--yellow);
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.at-lifewood-we15,
.this-is-the5 {
  position: relative;
  display: inline-block;
}
.at-lifewood-we15 {
  margin: 0;
  flex: 1;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 800px;
  max-width: 100%;
}
.this-is-the5 {
  align-self: stretch;
  height: 140px;
}
.harness-the-technology7,
.your-business-to5 {
  margin: 0;
}
.harness-the-technology-container6 {
  align-self: stretch;
  height: 52px;
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 36px;
  display: none;
}
.right14 {
  width: 804px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-23xl);
  min-width: 800px;
  min-height: 218px;
  max-width: 100%;
}
.at-lifewood-we-empower-busine-parent6 {
  width: 820px;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 820px;
}
.at-lifewood-we-empower-busine-parent6,
.company-logo,
.two-column-text8,
.wrapper14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.two-column-text8 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.company-logo,
.wrapper14 {
  flex-direction: column;
}
.wrapper14 {
  width: 100%;
  overflow: hidden;
  gap: var(--gap-45xl);
  max-width: var(--max-col-width);
}
.company-logo {
  width: 1640px;
  gap: var(--gap-65xl);
  max-width: 100%;
}
.amazed-icon17,
.youtube-button {
  align-self: stretch;
  max-width: 100%;
}
.youtube-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-78xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--black);
  font-family: var(--font);
}
.amazed-icon17 {
  height: 30.7px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.site-map-link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl-3) 0 0;
}
.diamond-icon17 {
  height: 29px;
  width: 16px;
  position: relative;
}
.be-amazed16 {
  width: 257.6px;
  margin: 0 !important;
  position: absolute;
  right: 43.4px;
  bottom: 34.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs-4);
}
.logo-icon5 {
  align-self: stretch;
  height: 43.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.button197 {
  position: relative;
  display: inline-block;
  min-width: 101px;
}
.chevron-down-icon17 {
  width: 11.1px;
  height: 5.7px;
  position: relative;
}
.footer-dropdown-menu {
  flex-direction: column;
  padding: var(--padding-3xs-6) 0 0;
}
.button196,
.footer-dropdown-menu,
.logo-instance1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button196 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--white);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-mini);
  gap: var(--gap-xs);
  cursor: pointer;
}
.logo-instance1 {
  width: 210px;
  flex-direction: column;
  gap: var(--gap-45xl);
  min-width: 210px;
}
.menu4 {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.ai-data-services5 {
  position: relative;
  cursor: pointer;
}
.ai-projects5 {
  display: inline-block;
  min-width: 99px;
}
.ai-projects5,
.transformation4 {
  position: relative;
  cursor: pointer;
}
.careers5,
.global-scale4,
.our-company5 {
  position: relative;
  display: inline-block;
  min-width: 113px;
  cursor: pointer;
}
.careers5,
.our-company5 {
  min-width: 126px;
}
.careers5 {
  min-width: 71px;
}
.map15 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.chinese4,
.english4,
.language6 {
  position: relative;
  display: inline-block;
  min-width: 106px;
}
.chinese4,
.english4 {
  min-width: 66px;
}
.chinese4 {
  min-width: 74px;
}
.map16 {
  width: 150px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.follow-us4 {
  position: relative;
  display: inline-block;
  min-width: 113px;
}
.facebook4,
.instagram5,
.linkedin5,
.youtube17 {
  position: relative;
  display: inline-block;
  min-width: 77px;
}
.facebook4,
.instagram5,
.youtube17 {
  min-width: 90px;
}
.instagram5,
.youtube17 {
  min-width: 92px;
}
.youtube17 {
  min-width: 77px;
}
.map17,
.sitemap5 {
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
}
.map17 {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-3xs);
  min-width: 150px;
}
.sitemap5 {
  width: 1302px;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  max-width: 100%;
}
.follow-us-social-media,
.logotitle-wrapper,
.sitemap5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.logotitle-wrapper {
  width: 1640px;
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: var(--max-col-width);
  gap: var(--gap-xl);
}
.follow-us-social-media {
  align-self: stretch;
  justify-content: center;
  max-width: 100%;
}
.careers4,
.footer5 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font);
}
.footer5 {
  align-self: stretch;
  background-color: var(--green);
  border-top: 8px solid var(--yellow);
  box-sizing: border-box;
  align-items: flex-end;
  padding: var(--padding-45xl) var(--padding-24xl-4) var(--padding-15xl-3);
  gap: var(--gap-21xl-7);
  min-height: 430px;
  max-width: 100%;
  font-size: var(--font-size);
  color: var(--white);
}
.careers4 {
  width: 100%;
  background-color: var(--white);
  align-items: flex-start;
  letter-spacing: normal;
  font-size: var(--font-size-41xl);
  color: var(--color-black);
}
@media screen and (max-width: 1650px) {
  .nav-item5 {
    flex-wrap: wrap;
  }
  .at-lifewood-we-empower-busine-parent5,
  .dropdown-menu,
  .grid4,
  .in-the-news-parent2,
  .lifewood-parent1 {
    max-width: var(--max-col-width);
  }
  .always-on-never {
    display: none;
  }
  .logotitle-wrapper,
  .wrapper14 {
    max-width: var(--max-col-width);
  }
}
@media screen and (max-width: 1275px) {
  .youtube-button {
    padding-bottom: var(--padding-44xl);
    box-sizing: border-box;
  }
  .footer5 {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .main5 {
    flex-wrap: wrap;
  }
  .lifewood-parent1,
  .nav5 {
    gap: 64px 32px;
  }
  .future-power5 {
    font-size: var(--font-size-45xl);
  }
  .harnessing-the-potential5 {
    font-size: var(--font-size-29xl);
  }
  .empower-business-message {
    gap: 34px 68px;
    padding-top: var(--padding-104xl);
    padding-bottom: var(--padding-104xl);
    box-sizing: border-box;
  }
  .hero-section5 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news5 {
    font-size: var(--font-size-21xl);
  }
  .banner5,
  .in-the-news-parent2 {
    gap: 64px 32px;
  }
  .at-lifewood-we-container13 {
    font-size: var(--font-size-7xl);
  }
  .b10,
  .b11,
  .b12,
  .b13 {
    font-size: var(--font-size-29xl);
    line-height: 29px;
  }
  .items2 {
    flex-wrap: wrap;
  }
  .transforming-data-on1 {
    font-size: var(--font-size-21xl);
  }
  .dropdown-menu {
    padding-top: var(--padding-481xl);
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-parent4 {
    gap: 16px 32px;
  }
  .at-lifewood-we-empower-busine-parent6 {
    max-width: 100%;
  }
  .wrapper14 {
    gap: 32px 64px;
  }
  .company-logo {
    gap: 42px 84px;
  }
  .youtube-button {
    padding-bottom: var(--padding-22xl);
    box-sizing: border-box;
  }
  .sitemap5 {
    gap: 64px 32px;
  }
  .footer5 {
    gap: 20px 40.7px;
  }
}
@media screen and (max-width: 450px) {
  .right12 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .lifewood-parent1,
  .nav5 {
    gap: 64px 16px;
  }
  .future-power5 {
    font-size: var(--font-size-21xl);
  }
  .harnessing-the-potential5 {
    font-size: var(--font-size-17xl);
  }
  .empower-business-message {
    gap: 17px 68px;
  }
  .hero-section5 {
    padding-top: var(--inline-padding-sm);
    padding-bottom: var(--inline-padding-sm);
    box-sizing: border-box;
  }
  .in-the-news5 {
    font-size: var(--font-size-11xl);
  }
  .exclusive-coverage-from5,
  .hong-kong-4-10th-container5 {
    font-size: var(--font-size);
  }
  .banner5,
  .in-the-news-parent2 {
    gap: 64px 16px;
  }
  .at-lifewood-we-container13,
  .this-is-the-container4 {
    font-size: var(--font-size-lgi);
  }
  .harness-the-technology-container5 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .right13 {
    gap: 21px 42px;
  }
  .b10 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .devoted-specialists2 {
    font-size: var(--font-size-lg);
  }
  .b11 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .delivery-sites2 {
    font-size: var(--font-size-lg);
  }
  .b12 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .countries-on-4-container1 {
    font-size: var(--font-size-lg);
  }
  .b13 {
    font-size: var(--font-size-17xl);
    line-height: 22px;
  }
  .language-capabilities2 {
    font-size: var(--font-size-lg);
  }
  .transforming-data-on1 {
    font-size: var(--font-size-5xl);
  }
  .lifewood-active-in-container1 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .button191 {
    font-size: var(--font-size-base);
  }
  .dropdown-menu {
    padding: var(--padding-306xl) var(--padding-xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .at-lifewood-we15,
  .this-is-the5 {
    font-size: var(--font-size-3xl);
  }
  .harness-the-technology-container6 {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .wrapper14 {
    gap: 16px 64px;
  }
  .company-logo {
    gap: 21px 84px;
  }
  .ai-data-services5,
  .ai-projects5,
  .button197,
  .careers5,
  .chinese4,
  .english4,
  .facebook4,
  .follow-us4,
  .global-scale4,
  .instagram5,
  .language6,
  .linkedin5,
  .menu4,
  .our-company5,
  .transformation4,
  .youtube17 {
    font-size: var(--font-size-base);
  }
  .sitemap5 {
    gap: 64px 16px;
  }
}
